{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<div class="js-filter">
    <h2>Forum</h2>
              
        {% for category in categories %}
            <div class="category">
                <a href="{{ path('show_category', {'id': category.id}) }}">{{category.name}}</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum interdum odio posuere tempus. Quisque et consectetur nisi. Praesent tincidunt mattis mollis. Nulla venenatis leo diam, eu viverra dui dictum non. Vestibulum condimentum leo.</p>
            </div>
        {% endfor %}  
</div>

{% endblock %}
