{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!{% endblock %}

{% block body %}
<div class="js-filter">
    <h2>{{ category.name }}</h2>
              
        {% for topic in category.topics %}
            <div class="topic">
                <a href="{{ path('show_topic', {'topicId': topic.id}) }}">{{topic.title}}</a>
            </div>
        {% endfor %}  
    <a href="{{ path('new_topic') }}">nouveaux topic</a>
</div>

{% endblock %}