{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}


{% block body %}
<div class="js-filter">
    <h1>Cards</h1>
    <div id="card-search-filter" style="display:none;">
        {% include "card/_form.html.twig" %}
    </div>
    <button type="button" id="openFormSearch">option recherche</button>

    
    <div class="cards js-filter-content">
        {% include "card/_content.html.twig" %}
       
    </div> 
</div> 

{% endblock %}