{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}
<h1>Cards</h1>

<div class="cards">
    <form action="{{ path('card_fetch') }}" method="post">
        <input type="textbox" name="name">
        <button type="submit">
            <i>recherche</i>
        </button>
    </form>
    {% include "card/_content.html.twig" %}
</div>
{% endblock %}
