body {
    background-color: skyblue;
}

#body-deck{
    display: flex;
}
#card {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding : 5px;
}
.details{
    border: 1px solid black;
    margin: 10px;
    padding : 5px;
}

.carac{
    padding: 0;
}
#form-search{
    border : 1px solid black;
    padding : 5px;
}
#bloc-recherche{
    border: 1px solid black;
}
#image-carte-min{
    background-color: yellow;
    width: 150px;
    height: 200px;
    margin: 10px;
}

#bloc-deck{
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    border: 1px solid black;
}

#bloc-recherche{
    display: flex;
    flex-direction: column;
}
#card-search-filter{
    border: 1px solid black;
}
#main-deck{
    background-color: brown;
}

#extra-deck{
    background-color: violet;
}

#side-deck{
    background-color: rgb(134, 78, 78);
}