body {
    background-color: skyblue;
}

#body-deck{
    display: flex;
    
}

#bloc-recherche{
    border: 1px solid black;
}

#bloc-deck{
    box-sizing: border-box;
    border: 1px solid black;
}

#main-deck{
    background-color: brown;
}

#extra-deck{
    background-color: violet;
}

#side-deck{
    background-color: rgb(134, 78, 78);
}