body {
    margin: 0;
    background-color: #E3CD9B;
}
#navbar {
    background-color: #A64826;
    overflow: hidden;
}

  /* Style the links inside the navigation bar */
#navbar a {
    float: left;
    color: #E3E3E3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  /* Change the color of links on hover */
#navbar a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add a color to the active/current link */
#navbar a.active {
    background-color: #04AA6D;
    color: white;
}
.parallax {
    background-image: url('/imagesSite/banniereAccueil3.jpg');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;

}

#presentation{

    opacity: 1;
    color: white;
    text-align: center;
    align-items: center;

    a{

        background-color: #0B1F37;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
    }
}

.card-section{
    h4{
        margin-top: 0;
        color: white;
        text-align: center;
        
    }
}

#homeListCard{
    display: flex;
    align-items: center;
    .homeCard{
        margin: 10px;
        .imagedeck img{
            width: 200px;
            height: 250px;
            border: 1px solid black;
        }
    }
}

.topic-section {
    background-color: #E3CD9B;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.topic-post, .post {
    display: flex;
    background-color: #ffffff9f;
    margin: 10px;
    border: 1px solid black;
    position: relative;
    border-radius: 5px;
    height: 122px;
    width: 700px;
    
    h5{
        margin: 0;
    }

}

.message{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0;
    overflow: hidden;   
    text-overflow: ellipsis '...';
    font-family: serif;
    p{
        padding-bottom: 10px;
        margin: 0;
    }
    h5{
        padding-top: 10px;
    }
}

.author{
    text-align: center;
    border: 1px solid black;
    min-width: 120px;
    padding-top: 5px;

}

.homeListTopic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    left: 20px;

    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}


#body-deck{
    display: flex;
}
.deck-section{
    background-color: #0B1F37;
    h4{
        margin-top: 0;
        color: white;
        text-align: center;
    }
}
#homeListDeck{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.homeDeck{
    width: 59mm;
    height: 86mm;
    text-align: center;
    margin: 10px;
}

.imagedeck { 
    position: relative; 
    width: 230px;  
    height: 280px; 

    .background-image { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
        z-index: 1; /* Image de fond au z-index plus bas */ 
    } 
    .titredeck{
        position: absolute; 
        top: 0px;
        left: 55px; 
        width: 148px;
        z-index: 2; /* Image de premier plan au z-index plus élevé */
        a{
            color: white;
        }
    }
    .foreground-image { 
        position: absolute; 
        top: 48px;
        left: 55px; 
        width: 148px; 
        height: 134px; 
        z-index: 2; /* Image de premier plan au z-index plus élevé */
    }
    .corpdeck{
        position: absolute; 
        color: white;
            top: 195px;
            left: 55px;
            width: 148px; 
            z-index: 2; /* Image de premier plan au z-index plus élevé */
    }
}


#card {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding : 5px;
}
#block-recherche-listCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    .js-filter-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.details{
    border: 1px solid black;
    margin: 10px;
    padding : 5px;
}
#listCards{
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    .image-carte-min img{
        width: 150px;
        height: 200px;
        margin: 10px;
    }

}
.carac{
    padding: 0;
}
#form-search{
    border : 1px solid black;
    padding : 5px;
}
#block-recherche-deck{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-height: 60rem;
    width: 25rem;
    margin-right: 5rem;
    .js-filter-content{
        display: flex;
        flex-wrap: wrap;
        max-width: 1600px;
        overflow-y: scroll;
    }
}


.image-carte-cropped img{
    width: 150px;
    height: 150px;
}
#block-deck{
    display: flex;
    flex-direction: column;
    flex :1;
    border: 1px solid black;
}

#card-search-filter{
    border: 1px solid black;
    background-color: #D4D4D4;
    max-width : 500px;

}
.js-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info-deck{
    display: flex;
    flex-direction: row;
}
#deck{
    display: flex;
    flex-direction: column;
}
#main-deck{
    background-color: #a64826;
    border : 1px solid black;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    min-width: 100px;
    min-height: 150px;
    max-width: 1000px;
}

#extra-deck{
    background-color: #8f3211;
    border : 1px solid black;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    min-width: 100px;
    height: 150px;
    max-width: 1000px;
    
    
}

.image-carte-min .imagedetail{
    width : auto !important ;
    height: auto !important ;
}

.detailCard .img{
    width: 100px;
    height: 150px;
    margin: 0;
}

#side-deck{
    background-color: #8b533e;
    border : 1px solid black;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    min-width: 100px;
    height: 150px;
    max-width: 1000px;
    
}

.hidden {
    display: none;
}

::backdrop {
    background-color: grey;
    opacity: 0.75;
  }

.dialog{
    padding: 0;
}

.window-dialog{
    display :flex;
    align-items: center;
    flex-direction: row;
    background: rgba(0,0,0,0.5);
}

.tableauDetailCard{
    width : 100% ;
    height: 100% ;
}

.bloc-dialog{
    display: flex;
    background-color: #E3CD9B;
    height: 600px;
    width: 900px;
    align-items: center;
}

.detailCard{
    display: flex;
    align-items: center;

}

.closeDetailCard{
    align-self: baseline;
}

.namecard{
    text-align: center;
}

.detailCard div{
    border: 1px solid black;
    background-color: #DBAD91;
}
#panneau-deck{
    display: flex;
    border: 1px solid black;
    .info-deck{
        display : flex;
        flex-direction: column;
    }

    .stat-deck{
        display : flex;
        flex-direction: column;
    }
}

.imgdetail{
    background-color: #a64826;
    width: none;
    height: none;
    margin: 10px;
}

.category {
    list-style: none;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid black;
    width: 50rem;
    height: 5rem;
    text-align: center;

}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
}

#piechart {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: conic-gradient(
        pink 70deg, 
        lightblue 0 235deg, 
        orange 0
        );
}
