<h2>Deck</h2>
            <div id="deck">
                <div id="main-deck">
                    Main Deck
                </div>
                <div id="extra-deck">
                    Extra
                </div>
                <div id="side-deck">
                    Side
                </div>
            </div>