{% extends 'base.html.twig' %}

{% block title %}Hello DeckController!{% endblock %}

{% block body %}
<div class="js-filter">
    <div id="body-deck">

        <div id="bloc-deck">
            <h2>Deck</h2>
            <a href="{{ path('add_deck')}}">crée un nouveau Deck</a>

            </div>
        </div>
        
    </div> 
</div>

{% endblock %}
