{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!{% endblock %}

{% block body %}

    <h1> Ajouter un Topic</h1>
    

    {{ form_start(formTopic) }}

        {{ form_row(formTopic.valider)}}
    {{ form_end(formTopic) }}
{% endblock %}
