{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="js-filter">
    <div id="body-deck">

        <div id="bloc-deck">
            <h2>Deck</h2>
            <a href="{{ path('new_deck')}}">crée un nouveau Deck</a>

            
            
                <table>
                <tr class="table-primary">
                    <th>titre</th>
                    <th>date création</th>

                </tr>
                {% for deck in decks %}
                    {% if is_granted("ROLE_ADMIN") or app.user == deck.user %}
                    <tr>
                        <td><a href="{{ path('update_deck', {'id': deck.id}) }}">{{deck.title}}</a></td>
                        <td>{{deck.createdAt|date('d-m-Y')}}</td>

                    </tr>

                    {% endif %}
                    
                {% endfor %}
            </table>
            
        </div>
        
    </div> 
</div>

{% endblock %}
