{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {{dump(app.user)}}
    <h1>{{app.user.username}}</h1>
    <h6>{{app.user.email}}</h6>
    
    <a href="{{ path('app_deckUser', {'id': app.user.id}) }}"> Mes Deck</a>
    
{% endblock %}